*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1vw;
    font-family: monospace;
    font-weight: 700;
}
body{
    padding: 0;
    margin: 0;
    background: rgb(175, 175, 175);
}

.dos_background{
    margin: 5vh 15vw 0 15vw;
    height: 90vh;
    width: 70vw;
    background-color: black;
}

::selection{
    color:black;
    background: rgba(255, 255, 255, 0.95);
}

.button{
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(155, 155, 155);
    box-shadow: 3px 3px yellowgreen;
    outline: none;
    width: 7vw;
    height: 2vw;
}
.button:active{
    background-color:rgb(135, 135, 135);;
    box-shadow: 0px 0px yellowgreen;
    transform: translate(3px,3px);
}

input{
    font-family: monospace;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    background-color: rebeccapurple;
}

.app_topic{
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: rgb(0, 0, 170);
    display: flex;
    justify-content: space-between;
}

.add_command_div{    
    position: absolute;
    padding: 1vh 1vw;
    width: 18vw;
    right: 5vw;
    top: 5vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add_command_div label{
    width: 5vw;
}
.add_command_div input{
    width: 12vw;
}

.add_command_section{
    padding: 1vh 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add_command_button_div{
    width: fit-content;
    margin: 0 10% 0 auto;
}

.search_div{
    padding: 3vh 0 1vh 0;
    width: 100%;
}
.search_input_div{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.search_input{
    padding-left: .5vw;
    width: 25vw;
    height: 0;
    width: 0;
    opacity: 0;
}

.search_input_paragraf{
    position: relative;
    width: fit-content;
    left: 0;
    top: 0;
    color: white;
}
.search_input_paragraf::after{
    position: absolute;
    top: 0;
    right: 0;
    content: "_";
    background-color: white;
    color: white;
    animation: blink_cursor 1s infinite;
}

@keyframes blink_cursor {
    50% {
        background-color: black;
        color: black;
    }
}

.result_background{
    width: 100%;
    height: 40vh;
    background: black;
    color: white;
    display: flex;    
    justify-content: center;
}
.result_div{
    width: 40vw;
    text-align: center;
}
.result_topic{
    width: fit-content;
    margin: 0 auto;
    padding: 2vh 0 2vh 0;
}
.result_list{
    list-style-type: none;
}
.result_listitem{
    /*position: relative;*/
    display: flex;
    justify-content: center;
}
.selected_listitem{
    color: yellowgreen;
}
.selected_listitem::before{
    color: yellowgreen;
    content: "<";
}
.selected_listitem::after{
    color: yellowgreen;
    content: ">";
}
.result_listitem p{    
    text-align: left;
    width: 5vw;
    margin: 0 2vw;
    width: 8vw;
}
.result_listtopic p{
    margin-bottom: 0.6vw;
    width: 8vw;
}

.command_background{
    position: absolute;
    color: white;
    width: 20vw;
    margin: 0 10vw 0 20vw;
    /*bottom: 0vh;*/
}
.command_background{
    color: yellowgreen;
}

/*
.command_background p::after{
    position: absolute;
    content: "=";
    left: -2.5vw;
    bottom: 0;
}*/

.command_topic{
    position: relative;
}

.topic{
    position: relative;
}

.topic::before{
    position: absolute;
    bottom: 0vh;
    left: -10vw;
}

.command_topic::before{
    content: "Name";
}
.command_platform::before{
    content: "Platform";
}
.command_description::before{
    content: "Description";
}

.command_options{
    position: relative;
}
.command_options::before{
    content: "Options";
}

.command_example::before{
    content: "Example";
}

.command_buttons_div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 3vh;
}


/*** RESPONSIVE ***/
@media screen and (max-width: 600px){
    *,*::before,*::after{
        font-size: 4vw;
    }
    .dos_background{
        margin: 0 0;
        height: 100vh;
        width: 100vw;
    }
    .button{
        height: 8vw;
        width: 25vw;
        margin: 0 2vw;
    }
    .result_div{
        width: 100vw;
    }
    .result_listitem p{    
        text-align: left;
        width: 25vw;
        margin: 0 2vw;
    }

    .command_background p::after{
        position: absolute;
        content: "=";
        left: -2.5vw;
        bottom: 0;
    }

    .topic::before{
        left: -32vw;
    }
    .command_background{
        margin-left: 40%;
        width: 50%;
    }
    
    .command_background p::after{
        left: -5vw;
    }

    /***  REMOVE THIS TEMPORARY FOR MOBILE  ***/
    .add_command_button_div{
        top: -100vh;
    }
}